.page-blog {
    height: 100%;
}

.page-blog-operate {
    height: 120px;
}

.page-blog-content {
    display: flex;
    height: calc(100% - 120px);
}

.page-blog-edit {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
}

.page-blog-view {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    overflow: auto;
}

.edit-box {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}